# Project exclude paths
/.gradle/
/Problems/First, second, third/out/
/Problems/First, second, third/out/production/classes/
/Problems/From 0 to 4/out/
/Problems/From 0 to 4/out/production/classes/
/Problems/The result of a Tic-Tac-Toe game/out/
/Problems/The result of a Tic-Tac-Toe game/out/production/classes/